<section class="jumbotron" style="background:url('https://ae01.alicdn.com/kf/HTB1q2RoKrGYBuNjy0Foq6AiBFXaN.jpg')">
    <div class="container" id="jumbotron1">
    </div>
</section>


<div class="container">
    <form class="well form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label"><strong>Car model</strong> </label>
            <label> {{this.car.model}} </label>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"><strong>Brand</strong></label>
            <label> {{this.car.brand}} </label>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"><strong>Year</strong></label>
            <label> {{this.car.year}} </label>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"><strong>Engine Type</strong></label>
            <label> {{this.car.engineType}} </label>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"><strong>Milage</strong></label>
            <label> {{this.car.milage}} </label>
        </div>
    </form>


    <br>
    <h2>Reported problem history:</h2>
    <hr>

    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th>Date</th>
                <th>Problem description</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of this.car.problemHistory; let i = index">
                <td>
                    {{this.car.problemHistory[i]["date"] | date}}
                </td>
                <td>
                    {{this.car.problemHistory[i]["description"]}}
                </td>
            </tr>
        </tbody>
    </table>