<section class="jumbotron" style="background:url('https://ae01.alicdn.com/kf/HTB1q2RoKrGYBuNjy0Foq6AiBFXaN.jpg')">
    <div class="container" id="jumbotron1">
        <h1 class="jumbotron-heading" style="color: rgba(255, 255, 255, 0.781);">Welcome to Car Diagnostic application!
        </h1>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:50vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" autocomplete="off">

                        <div class="form-group">
                            <div class="col-md-9 selectContainer">
                                <label>Please fill in audio symptoms:</label>
                                <div class="input-group">
                                    <select name="car" [(ngModel)]="this.carTemp" class="form-control selectpicker">
                                        <option value="">Select your Vehicle</option>
                                        <option>Audi A4</option>
                                        <option>Fiat Panda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 selectContainer">
                            <div class="input-group">
                                <select name="visualSymptom" class="form-control" [(ngModel)]="this.audioSymptomTemp" required>
                                    <option value="">Select your symptom</option>
                                    <option value="grinding" selected>Grinding noise</option>
                                    <option value="squealing" selected>Squealing noise</option>
                                    <option value="whistling" selected>Whistling noise</option>
                                    <option value="knocking" selected>Knocking noise</option>
                                    <option value="ticking" selected>Ticking noise</option>
                                </select>
                            </div>

                        </div>
                        <br>
                        <div class="col-md-9 selectContainer">
                            <div class="input-group">
                                <select name="carState" class="form-control" [(ngModel)]="this.carStateTemp" required>
                                    <option value="">Select your car state</option>
                                    <option value="idle" selected>IDLE</option>
                                    <option value="braking" selected>Braking</option>
                                    <option value="accelerating" selected>Accelerating</option>
                                    <option value="driving" selected>Driving</option>
                                    <option value="engineOff" selected>Engine off</option>
                                </select>
                            </div>

                        </div>
                        <br>
                        <button *ngIf="!fixes" (click)="addVisualSymptom()" id="sendlogin" class="col-md-9 btn btn-primary">Submit</button>
                        <button *ngIf="fixes" (click)="refresh()" id="sendlogin" class="col-md-9 btn btn-primary">Submit new symptom</button>

                    </form>


                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-dark" *ngIf="fixes">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Potential Fix</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let fix of fixes; let i = index">
                    <td>
                        {{i}}
                    </td>
                    <td>
                        {{fix}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>