<section class="jumbotron" style="background:url('https://ae01.alicdn.com/kf/HTB1q2RoKrGYBuNjy0Foq6AiBFXaN.jpg')">
    <div class="container" id="jumbotron1">
    </div>
</section>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:50vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" autocomplete="off">

                        <div class="form-group">
                            <div class="col-md-9 selectContainer">
                                <label>Please fill in feeling symptoms:</label>
                                <div class="input-group">
                                    <select name="car" [(ngModel)]="this.carTemp" class="form-control selectpicker">
                                        <option value="">Select your Vehicle</option>
                                        <option>Audi A4</option>
                                        <option>Fiat Panda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 selectContainer">
                            <div class="input-group">
                                <select name="visualSymptom" class="form-control" [(ngModel)]="this.feelingSymptomTemp" required>
                                    <option value="">Select your symptom</option>
                                    <option value="poorBraking" selected>Poor braking performance</option>
                                    <option value="bouncing" selected>Bouncing problem</option>
                                    <option value="shaking" selected>Shaking problem</option>
                                    <option value="longStarting" selected>Long starting problem</option>
                                    <option value="ridesUncomfortable" selected>Uncomfortable riding</option>
                                    <option value="poorPerformance" selected>Poor performance</option>
                                </select>
                            </div>

                        </div>
                        <br>
                        <div class="col-md-9 selectContainer">
                            <div class="input-group">
                                <select name="carState" class="form-control" [(ngModel)]="this.carStateTemp" required>
                                    <option value="">Select your car state</option>
                                    <option value="idle" selected>IDLE</option>
                                    <option value="braking" selected>Braking</option>
                                    <option value="accelerating" selected>Accelerating</option>
                                    <option value="driving" selected>Driving</option>
                                    <option value="engineOff" selected>Engine off</option>
                                </select>
                            </div>

                        </div>
                        <br>
                        <button *ngIf="!fixes" (click)="addVisualSymptom()" id="sendlogin" class="col-md-9 btn btn-primary">Submit</button>
                        <button *ngIf="fixes" (click)="refresh()" id="sendlogin" class="col-md-9 btn btn-primary">Submit new symptom</button>

                    </form>


                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-dark" *ngIf="fixes">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Potential Fix</th>
                    <th>Date for reservation</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let fix of fixes; let i = index">
                    <td>
                        {{i}}
                    </td>
                    <td>
                        {{fix}}
                    </td>
                    <td>
                        <input placeholder="YYYY-MM-DD" class="form-control" type="date" [(ngModel)]="this.reservationDTO.date" id="example-date-input">
                    </td>
                    <td>
                        <button *ngIf="fixes" (click)="checkReservation(fix)" id="sendlogin" class="col-md-9 btn btn-primary">Check for reservation</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-bordered table-hover table-dark" *ngIf="dates">
        <thead>
            <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let date of dates; let i = index">
                <td>
                    {{i}}
                </td>
                <td>
                    {{date}}
                </td>
                <td>
                    <button *ngIf="fixes" (click)="reserve(date)" id="sendlogin" class="col-md-9 btn btn-primary">Make reservation</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>