<section class="jumbotron" style="background:url('https://ae01.alicdn.com/kf/HTB1q2RoKrGYBuNjy0Foq6AiBFXaN.jpg')">
    <div class="container" id="jumbotron1">
        <h1 class="jumbotron-heading" style="color: rgba(255, 255, 255, 0.781);">Welcome to Car Diagnostic application!</h1>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:50vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" autocomplete="off">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Vehicle</label>
                            <div class="col-md-9 selectContainer">
                                <div class="input-group">
                                    <select name="department" class="form-control selectpicker">
                                        <option value="">Select your Vehicle</option>
                                        <option>Audi A4</option>
                                        <option>Fiat Panda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 selectContainer">
                            <div class="input-group">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Symptom
                                </label>
                            </div>
                        </div>

                        <button type="button" id="sendlogin" class="btn btn-primary">Check</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>