<section class="jumbotron" style="background:url('https://ae01.alicdn.com/kf/HTB1q2RoKrGYBuNjy0Foq6AiBFXaN.jpg')">
    <div class="container" id="jumbotron1">
        <h1 class="jumbotron-heading" style="color: rgba(255, 255, 255, 0.781);">Welcome to Car Diagnostic application!</h1>
        <p class="lead mb-0" style="color: white">Welcome to Car Diagnostic application designed for providing help with diagnosing car problems. </p>
        <!--Dodati *ngIF kada je ulogovan korisnik da se ne vidi ovaj tekst i login-->
        <p class="lead mb-0" style="color: white">Please Login to continue..</p>
    </div>
</section>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <br>
        </div>
        <!-- Login Form -->
        <form>
            <input type="text" id="login" [(ngModel)]="this.loginDTO.username" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" [(ngModel)]="this.loginDTO.password" class="fadeIn third" name="login" placeholder="password">
            <button (click)="onClick()" class="btn btn-success ">Log in</button>
        </form>

        <!-- Registration -->
        <div id="formFooter">
            <a class="underlineHover" href="/registration">Registration</a>
        </div>

    </div>
</div>